body {
  background:#c4c0bf url('../img/background_light.jpg') no-repeat;
  background-size: 100%;
  font-family: "Treubuchet MS", Helvetica, sans-serif;
}

#content_left {
width: 660px;
float: left;
background: #fff url('../img/background-inner.jpg') repeat-x;
}

#content_left > article {
  border-bottom: 1px solid #c4c0bf;
  width: 90%;
  margin-left: 15px;
  margin-bottom: 6px;


}
#content_left > article > h1 {
  margin-top: 0px;
}

#content_left > article:nth-of-type(1) > h1 {
  margin-top: 12px;
}

#content_right {
  width: 300px;
  background-color: #a9a9a9;
  float: left;
  height: 714px;
}

section > article {
  padding: 5px 5px 5px 10px;
  width: 490px;
  float: left;

}

h1 {
  font-size: 35px;
  color: black;
  font-weight: normal;
  margin-bottom: 7px;

}

h3 {
  font-size: 20px;
  color: #333333;
  font-weight: normal;
  padding-left: 15px;
  margin-bottom: 0px;
}

h6 {
  font-weight: bold;
  color: #595856;
  margin-top: 0px;
}

p {
  color: #7f7d78;
  font-size: 15px;
  padding-right: 5px;
}

body > div {
  width: 960px;
  margin: auto;
  margin-top: 20px;
}

footer {
  background-color: black;
  text-align: left;
  height: 75px;
  width: 960px;
  float: left;
  margin-top: 0px;
}

div > img {
  display: block;
  margin: 0 0 75px 0;
}

section > img {
  width: 420px;
  float: left;
  border: 1px solid #c4c0bf;
  margin: 27px 30px 35px 0px;
}

body > div > section:nth-of-type(1) {
  border: 1px solid white;
  margin-top: 15px;
  background: #fff url('../img/background-inner.jpg') repeat-x;
  }

  footer > p {
    padding-top: 25px;
    padding-right: 15px;
    text-align: right;
  }

section > ul {
  padding-left: 15px;
  margin-bottom: 24px;
  margin-top: 12px;
}

  section > ul > li {
    list-style: none;
    line-height: 36px;
    color: #666666;
  }

.clear {
  clear: both;
}