body {
  background:#c4c0bf url('../img/background_light.jpg') no-repeat;
  background-size: 100%;
  font-family:"Arial Black", Gadget, sans-serif;
}

section > article {
  padding: 5px 5px 5px 10px;
  width: 490px;
  float: left;

}

h1 {
  font-size: 40px;
  color: black;
  font-weight: normal;
  margin-bottom: 7px;
}

h6 {
  font-weight: bold;
  color: #595856;
  margin-top: 0px;
}

p {
  color: #7f7d78;
  font-size: 15px;
  padding-right: 5px;
}

body > div {
  width: 960px;
  margin: auto;
  margin-top: 20px;
}

footer {
  background-color: black;
  text-align: left;
  height: 75px;
}

div > img {
  display: block;
  margin: 0 0 75px 0;
}

section > img {
  width: 420px;
  float: left;
  border: 1px solid #c4c0bf;
  margin: 27px 30px 35px 0px;
}

body > div > section:nth-of-type(1) {
  border: 1px solid white;
  margin-top: 15px;
  background-image: #f6f6f6;
  background-image: -webkit-linear-gradient(bottom, #ffffff 37%, #ececec 100%);
  background-image: -moz-linear-gradient(bottom, #ffffff 37%, #ececec 100%);
  background-image: -o-linear-gradient(bottom, #ffffff 37%, #ececec 100%);
  background-image: -ms-linear-gradient(bottom, #ffffff 37%, #ececec 100%);
  background-image: linear-gradient(bottom, #ffffff 37%, #ececec 100%);
  }

  footer > p {
    padding-top: 25px;
    padding-right: 15px;
    text-align: right;
  }

.clear {
  clear: both;
}