body {
  background:#c4c0bf url('../img/background_light.jpg') no-repeat;
  background-size: 100%;
}

body > div {
  width: 960px;
  margin-top: 0 auto;
}

footer {
  background-color: black;
  text-align: left;
}
